/* Top Bar */

.topbar {
	height: 60px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
body {
	background-color: #121212;
	margin: 0;
}

.fa-location-dot {
	color: black;
	font-size: 30px;
	margin-left: 10px;
}
#top-bar-link {
	font-family: 'Trebuchet MS';
	text-decoration: none;
	margin-bottom: 10px;
	margin-right: 10px;
}

.hamburger-icon {
	margin-left: 10px;
	font-size: 1.4em;
}

.logo {
	margin-left: 160px;
}